name: Generate HTML

on:
  push:
    branches: [ main ]
    paths-ignore:
      - mapa.html
permissions:
  contents: write
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run script
        run: python htmlgen.py
      - name: Upload HTML
        uses: actions/upload-artifact@v4
        with:
          name: mapa
          path: mapa.html
      - name: Commit and push mapa.html
        run: |
            git config user.name "github-actions"
            git config user.email "actions@github.com"
            git add mapa.html
            git commit -m "Atualizar mapa.html"  || echo "Nada para commitar"
            git push
